In [1]:
pwd

/home/jupyter-unisatkz

In [2]:
ls -l

total 88
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:51 10
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:48 1.txt
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:48 2.txt
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 18:01 34.azg
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:56 3.png
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:52 abc
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:52 abcd
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:56 a.jpg
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:56 a.mp3
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:53 a.txt
drwxr-xr-x 2 jupyter-unisatkz jupyter-unisatkz  4096 Apr  2 17:45 Cola
drwxr-xr-x 5 jupyter-unisatkz jupyter-unisatkz  4096 Apr  2 18:54 cs_books
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:53 c.txt
drwxr-xr-x 2 jupyter-unisatkz jupyter-unisatkz  4096 Apr  2 17:45 Mola
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 18:22 ok
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:49 right
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:50 riight
lrwxrwxrwx 1 jupyter-unisatkz jupyter-unisatkz    16 Mar 10 11:57 shared -> /srv/data/shared
-rwx-w--w- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 18:18 testfile
drwxr-xr-x 2 jupyter-unisatkz jupyter-unisatkz  4096 Apr  2 17:45 Tola
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz 50902 Apr  2 18:50 Untitled1.ipynb
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz 11198 Apr  2 18:36 Untitled2.ipynb
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz   410 Apr  4 12:06 Untitled3.ipynb
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz    72 Apr  2 17:12 Untitled.ipynb
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz     0 Apr  2 17:56 z.jpg

In [3]:
touch cafe

In [4]:
ls -l cafe

-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz 0 Apr  4 12:07 cafe

In [5]:
chmod o-r cafe

In [6]:
ls -l cafe

-rw-r----- 1 jupyter-unisatkz jupyter-unisatkz 0 Apr  4 12:07 cafe

In [7]:
chmod o+rw cafe

In [8]:
ls -l cafe

-rw-r--rw- 1 jupyter-unisatkz jupyter-unisatkz 0 Apr  4 12:07 cafe

In [9]:
chmod o-w cafe

In [11]:
# chmod o=u  || This is illigal

## short hand permission options

In [12]:
# numbers

In [13]:
# Decimal 0-9 10

In [14]:
# Binary 0 1

In [15]:
touch test

In [16]:
ls -l test

-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz 0 Apr  4 12:40 test

In [17]:
chmod 267 test

In [18]:
ls -l test

--w-rw-rwx 1 jupyter-unisatkz jupyter-unisatkz 0 Apr  4 12:40 test

0 -- 000   no read no write no execute      
1 -- 001   no read no write yes execute     
2 -- 010   no read yes write no execute     
3 -- 011   no read yes write yes execute     
4 -- 100   yes read no write no execute     
5 -- 101   yes read no write yes execute     
6 -- 110   yes read yes write no execute    
7 -- 111   yes read yes write yes execute

In [20]:
# 777  | user group other

In [21]:
touch demo

In [22]:
ls -l demo

-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz 0 Apr  4 12:52 demo

In [24]:
# 110100100 == 644

change permission so that : user can read write execute, so as the group, the other can only read

In [25]:
# 111 111 100 ----> 7 7 4 -----> rwx rwx r

In [26]:
chmod 774 demo

In [27]:
ls -l demo

-rwxrwxr-- 1 jupyter-unisatkz jupyter-unisatkz 0 Apr  4 12:52 demo

In [28]:
chmod 755 demo

In [30]:
ls -l demo

-rwxr-xr-x 1 jupyter-unisatkz jupyter-unisatkz 0 Apr  4 12:52 demo

7 -- 111 -- rwx    
5 --- 101 -- rx

In [31]:
#750

In [33]:
# 111 101 000

In [34]:
chmod 750 demo

In [35]:
ls -l demo

-rwxr-x--- 1 jupyter-unisatkz jupyter-unisatkz 0 Apr  4 12:52 demo

permission on file is a little bit diffirent on a folder

FILE RWX

In [36]:
# FILE : r read, w write x execute

In [37]:
# DIR : r you can read content of the dir
# DIR : w you can write in to the dir (create file and dir inside)
# DIR : x you can enter the dir (cd)

In [38]:
ls test

test

In [39]:
file test

test: empty

In [40]:
file permis

permis: directory

In [41]:
ls -l permis

total 0

In [42]:
cd permis

In [43]:
ls

In [44]:
touch file1

In [45]:
touch file2

In [46]:
touch file3

In [47]:
ls

file1  file2  file3

In [48]:
cd ..

In [49]:
ls -l permis

total 0
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz 0 Apr  4 13:12 file1
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz 0 Apr  4 13:12 file2
-rw-r--r-- 1 jupyter-unisatkz jupyter-unisatkz 0 Apr  4 13:12 file3

In [50]:
ls permis

file1  file2  file3

In [51]:
chmod 400 permis

In [52]:
# 400 4 r ;

In [53]:
ls -l permis

ls: cannot access 'permis/file3': Permission denied
ls: cannot access 'permis/file2': Permission denied
ls: cannot access 'permis/file1': Permission denied
total 0
-????????? ? ? ? ?            ? file1
-????????? ? ? ? ?            ? file2
-????????? ? ? ? ?            ? file3

: 1

In [55]:
chmod 100 permis

In [57]:
ls -ld permis

d--x------ 2 jupyter-unisatkz jupyter-unisatkz 4096 Apr  4 13:12 permis

In [58]:
ls permis

ls: cannot open directory 'permis': Permission denied

: 2

In [59]:
chmod 500 permis

In [60]:
ls -ld permis

dr-x------ 2 jupyter-unisatkz jupyter-unisatkz 4096 Apr  4 13:12 permis

In [61]:
ls permis

file1  file2  file3

In [62]:
cd permis

In [63]:
pwd

/home/jupyter-unisatkz/permis

In [64]:
touch file4

touch: cannot touch 'file4': Permission denied

: 1

In [65]:
cd ..

7 = 4+2+1 user   
7 group 
7 other

In [66]:
chmod 700 permis

In [67]:
cd permis

In [68]:
pwd

/home/jupyter-unisatkz/permis

In [69]:
touch file4

In [70]:
ls

file1  file2  file3  file4

In [71]:
cd ..

In [73]:
ls -ld secret

drwxr-xr-x 2 jupyter-unisatkz jupyter-unisatkz 4096 Apr  4 13:24 secret

In [74]:
# chmod 705 (4+2+1) (0) (4+1)

In [75]:
chmod 705 secret

In [76]:
ls -ld secret

drwx---r-x 2 jupyter-unisatkz jupyter-unisatkz 4096 Apr  4 13:24 secret

##  root user

if you are the root user , then you are superuser

In [77]:
ls /

bin    etc             lib         mkdir  root  srv       usr
boot   home            lib64       mnt    run   swap.img  var
cdrom  initrd.img      lost+found  opt    sbin  sys       vmlinuz
dev    initrd.img.old  media       proc   snap  tmp       vmlinuz.old

In [78]:
cd

In [79]:
ls

10      abc    cafe      Mola    secret    unisat           z.jpg
1.txt   abcd   Cola      ok      shared    Untitled1.ipynb
2.txt   a.jpg  cs_books  permis  test      Untitled2.ipynb
34.azg  a.mp3  c.txt     right   testfile  Untitled3.ipynb
3.png   a.txt  demo      riight  Tola      Untitled.ipynb

In [80]:
pwd

/home/jupyter-unisatkz

In [81]:
cd /home

In [82]:
ls

azat                   jupyter-cubefiction    jupyter-official-nanakai
jupyter-admin          jupyter-danenok        jupyter-orissim
jupyter-aiana178       jupyter-darganius      jupyter-tsagynysh
jupyter-aigerimunisat  jupyter-ekdana         jupyter-unisat
jupyter-aizadait       jupyter-inkar601       jupyter-unisatkz
jupyter-amayakof       jupyter-kkenzh         jupyter-yeldana
jupyter-amirkhan       jupyter-nazymungarova  jupyter-zhandos
jupyter-arayka         jupyter-nuray.serkali  jupyter-zhanelbaltabay
jupyter-aruzhan149     jupyter-nurike         jupyter-zhannaspace
jupyter-aselleon       jupyter-nurlaura
jupyter-azat           jupyter-nurlaura2

In [83]:
cd azat

In [84]:
ls

jupyterhub-80.png  jupyter.png

In [85]:
cd ..

In [86]:
whoami

jupyter-unisatkz

## Filters

### head

In [87]:
# head [-number of lines to print] [path]

In [88]:
ls c.txt

ls: cannot access 'c.txt': No such file or directory

: 2

In [89]:
pwd

/home

In [90]:
cd

In [91]:
ls

10      abc    cafe      Mola    secret    unisat           z.jpg
1.txt   abcd   Cola      ok      shared    Untitled1.ipynb
2.txt   a.jpg  cs_books  permis  test      Untitled2.ipynb
34.azg  a.mp3  c.txt     right   testfile  Untitled3.ipynb
3.png   a.txt  demo      riight  Tola      Untitled.ipynb

In [92]:
file c.txt

c.txt: ASCII text

In [93]:
head c.txt

desfsdafsdfadsfdsfsd
fsdfdsfsdfsdfsad
fsadfsdafasdfdsfasd
fsdafdsafdsafsdfas
fadsfdsfdsafadsf
desfsdafsdfadsfdsfsd
fsdfdsfsdfsdfsad
fsadfsdafasdfdsfasd
fsdafdsafdsafsdfas
fadsfdsfdsafadsf

In [94]:
head -3 c.txt

desfsdafsdfadsfdsfsd
fsdfdsfsdfsdfsad
fsadfsdafasdfdsfasd

In [95]:
head -20 c.txt

desfsdafsdfadsfdsfsd
fsdfdsfsdfsdfsad
fsadfsdafasdfdsfasd
fsdafdsafdsafsdfas
fadsfdsfdsafadsf
desfsdafsdfadsfdsfsd
fsdfdsfsdfsdfsad
fsadfsdafasdfdsfasd
fsdafdsafdsafsdfas
fadsfdsfdsafadsf
desfsdafsdfadsfdsfsd
fsdfdsfsdfsdfsad
fsadfsdafasdfdsfasd
fsdafdsafdsafsdfas
fadsfdsfdsafadsf
desfsdafsdfadsfdsfsd
fsdfdsfsdfsdfsad
fsadfsdafasdfdsfasd
fsdafdsafdsafsdfas
fadsfdsfdsafadsf

tail [-number of lines to print] [path]

In [97]:
tail c.txt

desfsdafsdfadsfdsfsd
fsdfdsfsdfsdfsad
fsadfsdafasdfdsfasd
fsdafdsafdsafsdfas
fadsfdsfdsafadsf
Aynur
Azat
Aruzhan
Arzu
Aigerym

In [98]:
tail -5 c.txt

Aynur
Azat
Aruzhan
Arzu
Aigerym

In [99]:
cat a.txt

Fred apples 20
Susy oranges 5
Mark watermellons 12
Robert pears 4
Terry oranges 9
Lisa peaches 7
Susy oranges 12
Mark grapes 39
Anne mangoes 7
Greg pineapples 3

In [101]:
head a.txt

Fred apples 20
Susy oranges 5
Mark watermellons 12
Robert pears 4
Terry oranges 9
Lisa peaches 7
Susy oranges 12
Mark grapes 39
Anne mangoes 7
Greg pineapples 3

In [102]:
tail a.txt

Fred apples 20
Susy oranges 5
Mark watermellons 12
Robert pears 4
Terry oranges 9
Lisa peaches 7
Susy oranges 12
Mark grapes 39
Anne mangoes 7
Greg pineapples 3

In [103]:
# sort [-option] [path]

In [104]:
cat a.txt

Fred apples 20
Susy oranges 5
Mark watermellons 12
Robert pears 4
Terry oranges 9
Lisa peaches 7
Susy oranges 12
Mark grapes 39
Anne mangoes 7
Greg pineapples 3

In [105]:
sort a.txt

Anne mangoes 7
Fred apples 20
Greg pineapples 3
Lisa peaches 7
Mark grapes 39
Mark watermellons 12
Robert pears 4
Susy oranges 12
Susy oranges 5
Terry oranges 9

In [108]:
# nl --- number line

In [109]:
nl a.txt

     1	Fred apples 20
     2	Susy oranges 5
     3	Mark watermellons 12
     4	Robert pears 4
     5	Terry oranges 9
     6	Lisa peaches 7
     7	Susy oranges 12
     8	Mark grapes 39
     9	Anne mangoes 7
    10	Greg pineapples 3

In [111]:
nl -s '. ' -w 8 a.txt

       1. Fred apples 20
       2. Susy oranges 5
       3. Mark watermellons 12
       4. Robert pears 4
       5. Terry oranges 9
       6. Lisa peaches 7
       7. Susy oranges 12
       8. Mark grapes 39
       9. Anne mangoes 7
      10. Greg pineapples 3

In [113]:
nl -s '*. ' -w 10 a.txt

         1*. Fred apples 20
         2*. Susy oranges 5
         3*. Mark watermellons 12
         4*. Robert pears 4
         5*. Terry oranges 9
         6*. Lisa peaches 7
         7*. Susy oranges 12
         8*. Mark grapes 39
         9*. Anne mangoes 7
        10*. Greg pineapples 3

In [114]:
# wc -- word count

In [115]:
# wc [-optiopns][path

In [116]:
wc a.txt

  9  30 160 a.txt

In [118]:
wc -l a.txt

9 a.txt

In [119]:
wc -w a.txt

30 a.txt

In [120]:
wc -m a.txt

160 a.txt

In [121]:
# cut [-option] [path]

In [124]:
cut -f 1 -d ' ' a.txt

Fred
Susy
Mark
Robert
Terry
Lisa
Susy
Mark
Anne
Greg

In [125]:
cut -f 1,2 -d ' ' a.txt

Fred apples
Susy oranges
Mark watermellons
Robert pears
Terry oranges
Lisa peaches
Susy oranges
Mark grapes
Anne mangoes
Greg pineapples

In [126]:
# uniq unique

In [127]:
cat a.txt

Fred apples 20
Susy oranges 5
Mark watermellons 12
Robert pears 4
Terry oranges 9
Lisa peaches 7
Susy oranges 12
Susy oranges 12
Mark grapes 39
Anne mangoes 7
Greg pineapples 3

In [128]:
uniq a.txt

Fred apples 20
Susy oranges 5
Mark watermellons 12
Robert pears 4
Terry oranges 9
Lisa peaches 7
Susy oranges 12
Mark grapes 39
Anne mangoes 7
Greg pineapples 3

In [129]:
cat a.txt

Fred apples 20
Susy oranges 5
Mark watermellons 12
Robert pears 4
Terry oranges 9
Lisa peaches 7
Susy oranges 12
Susy oranges 12
Mark grapes 39
Anne mangoes 7
Greg pineapples 3

In [130]:
# cat --- tac

In [131]:
tac a.txt

Greg pineapples 3Anne mangoes 7
Mark grapes 39
Susy oranges 12
Susy oranges 12
Lisa peaches 7
Terry oranges 9
Robert pears 4
Mark watermellons 12
Susy oranges 5
Fred apples 20

this is text mode now

In [133]:
# short cut to change to text mode :
# first ESC then m